@model hh.ViewModels.SummaryViewModel

<h2>Создание резюме</h2>

<form method="post" asp-controller="Summary" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="@Model.Summary.Name">Имя </label><br />
        <input asp-for="@Model.Summary.Name" />
    </div>
    <div>
        <label asp-for="@Model.Summary.Surname"></label><br />
        <input asp-for="@Model.Summary.Surname" />
    </div>
    <div>
        <label asp-for="@Model.Summary.PhoneNumber"></label><br />
        <input asp-for="@Model.Summary.PhoneNumber" />
    </div>
    <div>
        <label asp-for="@Model.Summary.City"></label><br />
        <input asp-for="@Model.Summary.City" />
    </div>
    <div>
        <label asp-for="@Model.Summary.Citizen"></label><br />
        <input asp-for="@Model.Summary.Citizen" />
    </div>
    Есть опыт работы: <input type="checkbox" id="myCheck" onclick="changeName()" input asp-for="@Model.Summary.HaveExperinece">
    <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">Изменить</a>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
</form>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form>
                    <label asp-for="@Model.Work.StartDate">Начало работы </label><br />
                    <input asp-for="@Model.Work.StartDate" />
                    <label asp-for="@Model.Work.EndDate">Конец работы </label><br />
                    <input asp-for="@Model.Work.EndDate" />
                    <label asp-for="@Model.Work.Name">Название организации </label><br />
                    <input asp-for="@Model.Work.Name" />
                    <label asp-for="@Model.Work.Specialization">Должность </label><br />
                    <input asp-for="@Model.Work.Specialization" />
                    <label asp-for="@Model.Work.Working">Обязанности на рабочем столе </label><br />
                    <input asp-for="@Model.Work.Working" />
                </form>
                <input type="submit" value="Сохранить">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
